/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: 'DIN Alternate',YuGothic,'Yu Gothic','Arial',sans-serif;
  background: $cBlack;
  color: $clightgray;

  &.fixed {
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
}

img {
  vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html, body, #main {
  height: 100%;
}

h1 {
  margin: 0;
}

h2 {
  width: 50%;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 3rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  padding-bottom: 2rem;
}

h3 {
  margin: 0;
  text-align: center;
  font-weight: lighter;
}

h4, h5, p {
  margin: 0;
}

p{
  font-size: 1rem;
}

h4{
  font-size: 1.3rem;
  width: 50%;
  border-bottom: 1px solid #000000;
  margin-bottom: 3rem;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0 2rem 3.8rem;
}

img {
  vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul {
  padding: 0;
  list-style: none;
}

input {
  &[type="button"], &[type="text"], &[type="submit"], &[type="image"] {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

section {
  margin-bottom: 7rem;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding: 0 12rem;
}

.all_container {
  position: relative;
  top: 5rem;
  background-color: $cBlack;
  color: $cWhite;
  height: auto;
}

.content {
  padding: inherit;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.column .cnt_img {
  width: 100%;
}

.column .cnt_img img {
  height: 100%;
}

header {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 18;

  .nav-global {
    display: none;
  }

  .inner {
    display: flex;
    height: inherit;
  }

  .flexbox {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.sns {
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header h1 {
  height: 30%;
  background-image: url(../img/logo01.png);
  background-repeat: no-repeat;
  background-size: 85%;
  margin-left: 3.7rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 25rem;
  height: 2rem;
}

  .sns li {
    margin-right: 1rem;

    &:nth-of-type(3) {
      margin: 0;
    }
  }

#nav-drawer {
  position: relative;
}

footer {
  margin: 7rem auto;
  width: 16rem;

  small {
    font-size: 1.5rem;
    color: $clightgray;
  }
}