/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'DIN Alternate',YuGothic,'Yu Gothic','Arial',sans-serif;
  font-size: 1.6rem;
  background: $cBlack;
  color: $clightgray;

  &.fixed {
    width: 100%;
    height: 100%;
    left: 0;
    overflow: hidden;
  }
}

img {
  vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html, body, #main {
  height: 100%;
}

h1 {
  margin: 0;
}

h2 {
  width: 30%;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 8rem;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  padding-bottom: 2rem;
}

h3 {
  margin: 0;
  text-align: center;
}

h4, h5, p {
  margin: 0;
}

img {
  vertical-align: baseline;
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

ul {
  padding: 0;
  list-style: none;
}
input {
  &[type="button"], &[type="text"], &[type="submit"], &[type="image"] {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

section {
  margin-bottom: 14rem;
}

.content {
  max-width: 1280px;
  margin: auto;
  padding: 0 12rem;
}

.all_container {
  position: relative;
  top: 5rem;
  background-color: $cBlack;
  color: $cWhite;
  height: auto;
}

header {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 18;

  .inner {
    display: flex;
    height: inherit;
  }

  .flexbox {
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.sns {
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header h1 {
  height: 40%;
  background-image: url(../img/logo01.png);
  background-repeat: no-repeat;
  background-size: 85%;
  margin-left: 37px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.nav-global {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  margin-right: 58px;

  li {
    margin-right: 54px;
    font-size: 1.5rem;
  }

  a {
    position: relative;
    display: inline-block;
    color: $cWhite;
    text-decoration: none;
  }

  .flexbox a {
    &:hover {
      color: $cWhite;
    }

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 2px;
      background: $cWhite;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.1 0.5s;
    }

    &:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }

  img {
    width: 80%;
  }

  .sns li {
    margin-right: 1rem;

    &:nth-of-type(3) {
      margin: 0;
    }
  }
}

header .nav_sp {
  display: none;
}

#nav-drawer {
  position: relative;
}

footer {
  margin: 7rem auto;
  width: 16rem;
  height: 5.6rem;

  small {
    font-size: 1.5rem;
    color: #b3b3b3;
  }
}