.sp_visual {
  display: block;
}
.visual {
  display: none;
}
.sp_visual {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 50vh;
  margin-bottom: 10rem;
}
.sp_visual .visualimg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-animation: bgAnime 12s infinite;
          animation: bgAnime 12s infinite;
}
.sp_visual .src2 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.sp_visual .src3 {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
@-webkit-keyframes bgAnime {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bgAnime {
  0% {
    opacity: 0;
  }
  4% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  29% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}