#about {
    .content {
      height: 100%;
      padding: 0 12rem 0 8rem;
    }
  
    h2 {
      background: url(../img/h2_about.svg) no-repeat;
      background-position-x: 3.5rem;
      background-size: 15rem;
      padding-bottom: 3.5rem;
    }
  
    .column .cnt_column {
      h2 {
        text-align: center;
        padding: 1rem 0 0 0;
        font-size: 3.5rem;
        font-weight: lighter;
      }
  
      width: 50%;
      height: 50%;
      text-align: center;
    }
  
    .cnt_column {
      h3 {
        display: block;
        text-align: center;
        font-size: 2vw;
        font-weight: lighter;
        letter-spacing: 0.1em;
        padding-top: 3rem;
      }
  
      p {
        letter-spacing: 0.1em;
        padding-bottom: 4rem;
  
        &:nth-of-type(2) {
          line-height: 1.9;
          letter-spacing: normal;
          text-align: left;
          color: #b3b3b3;
          padding-left: 3rem;
          padding-bottom: 0;
        }
      }
    }
  
    .column {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  
    .colum h3 {
      border-bottom: 1px solid #fff;
      width: 32%;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
    }
  
    .exhibition {
      display: block;
      margin-top: 10rem;
      width: 50%;
      padding-left: 3rem;
    }
  }
  
  .award {
    display: block;
    margin-top: 10rem;
    width: 50%;
    padding-left: 3rem;
  }
  
  #about {
    .exhibition h3 {
      display: block;
      padding-bottom: 1.5rem;
      background-image: url(../img/h3_exhibi.svg);
      background-size: 12rem;
      background-repeat: no-repeat;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      border-bottom: 1px solid #fff;
      width: 12rem;
      margin: 0 auto;
    }
  
    dl {
      padding-top: 1.8rem;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      width: 50rem;
  
      dt {
        width: 14%;
        color: #d8d8d8;
      }
  
      dd {
        width: 86%;
        margin-inline-start: 0;
        padding-bottom: 8px;
      }
    }
  
    dd {
      color: #b3b3b3;
  
      &:after {
        display: block;
        content: "";
        clear: both;
      }
    }
  
    .list {
      height: 5rem;
    }
  
    .award h3 {
      display: block;
      padding-bottom: 1rem;
      background-image: url(../img/h3_award.svg);
      background-size: 12rem;
      background-repeat: no-repeat;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      border-bottom: 1px solid #fff;
      width: 12rem;
      margin: 0 auto;
    }
  }