#work {    
    .work_contents .sp_img{
      display: block;
      width: 100%;
    }

    h2 {
      background-image: url(../img/sp_h2_work.svg);
      background-repeat: no-repeat;
      background-position-x: 2rem;
      background-size: 12rem;
      padding-bottom: 1rem;
    }
  
    @mixin work_img{
      background-size: 100%;
      background-repeat: no-repeat;
      height: 40vw;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }

    .image009{
      @include work_img;
      background-image: url(../img/sp_work01.jpg);
    }
    .image008{
      @include work_img;
      background-image: url(../img/sp_work02.jpg);
    }
    .image007{
      @include work_img;
      background-image: url(../img/sp_work03.jpg);
    }
    .image006{
      @include work_img;
      background-image: url(../img/sp_work04.jpg);
    }
    .image005{
      @include work_img;
      background-image: url(../img/sp_work05.jpg);
    }
    .image004{
      @include work_img;
      background-image: url(../img/sp_work06.jpg);
    }
    .image003{
      @include work_img;
      background-image: url(../img/sp_work07.jpg);
    }
    .image002{
      @include work_img;
      background-image: url(../img/sp_work08.jpg);
    }
    .image001{
      @include work_img;
      background-image: url(../img/sp_work09.jpg);
    }
    .caption{
      display: none;
    }
    h6{
      text-align: right;
      margin: 0 0 1.5rem;
    }
}